@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 97%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 158 99% 35%;
    --primary-foreground: 158 99% 95%;
    --secondary: 220 25% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 25% 90%;
    --muted-foreground: 220 15% 45%;
    --accent: 29 100% 65%;
    --accent-foreground: 24 98% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 85%;
    --input: 220 20% 92%;
    --ring: 158 99% 45%;
    --chart-1: 0 72% 51%;
    --chart-2: 140 70% 40%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 197 37% 24%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 217 100% 73%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 220 100% 97%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 220 20% 85%;
    --sidebar-ring: 217 100% 73%;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 210 40% 98%;
    --card: 220 20% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 158 99% 45%;
    --primary-foreground: 158 99% 5%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 158 99% 45%;
    --accent-foreground: 158 99% 5%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 21%;
    --input: 215 28% 21%;
    --ring: 158 99% 45%;
    --chart-1: 0 72% 51%;
    --chart-2: 140 70% 40%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 197 37% 24%;
    --sidebar-background: 220 20% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 158 99% 45%;
    --sidebar-primary-foreground: 158 99% 5%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 21%;
    --sidebar-ring: 158 99% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
